<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-block ">
                    <h4 class="card-title ">{{ 'MAP.TITLE' | translate }} :</h4>
                </div>
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item ">
                        <ul>
                            <li><b>{{ 'MAP.FRONTEND' | translate }} :</b>
                                <ul>
                                    <li>Angular 2 (4.1.1)<br>( angularfire2, ng2-file-upload, ngx-mydatepicker, @ng-bootstrap/ng-bootstrap ...)<br> TypeScript, JavaScript </li>
                                    <li>Boostrap 4, HTML 5, CSS </li>
                                    <li>Tools : Node, npm, Angular CLI, Visual Studio Code, GIT : <a href="https://github.com/patricou/SportPat_Front-End" target="_blank">Front End</a>, <a href="https://github.com/patricou/SportPat_Back-End" target="_blank">Back End</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item ">
                        <ul>
                            <li><b>{{ 'MAP.BACKEND' | translate }} :</b>
                                <ul>
                                    <li>Java 1.8</li>
                                    <li>Spring, Spring Boot (1.5.2.RELEASE)</li>
                                    <li>Tools : IntelliJ, Maven, GIT </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item ">
                        <ul>
                            <li><b>{{ 'MAP.DATA' | translate }} :</b>
                                <ul>
                                    <li>API Rest, <a href="/swagger-ui.html" target="_blank">Swagger</a></li>
                                    <li> Persistence :
                                        <ul>
                                            <li>DB : MongoDB <a href="https://mlab.com/welcome/" target="_blank">MLAB</a> ( for data and files )</li>
                                            <li><a href="https://console.firebase.google.com/project/sportpat-5e155/overview" target="_blank">Firebase</a> ( for real time chats )</li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="list-group-item ">
                        <ul>
                            <li><b>{{ 'MAP.SECURITY' | translate }} :</b>
                                <ul>
                                    <li>KeyCloak ( Front and Back)
                                        <ul>
                                            <li><a href="https://182-193-28-81.ftth.cust.kwaoo.net:8543/" target="_blank">Doc & Admin</a></li>
                                        </ul>
                                    </li>
                                    <li>Spring Security</li>
                                    <li>SSL ( GoDaddy )
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="card-block ">
                    <h6 class="card-text ">{{ 'MAP.REF' | translate }} : </h6>
                </div>
                <a href="https://182-193-28-81.ftth.cust.kwaoo.net:8001/" target="_blank">
                    <img class="card-img-bottom mx-auto d-block " src="assets/images/carte-visite.jpg " alt="Card image cap "></a>
                <div class="card-text text-right ">
                    <small class="font-italic "><a href="https://182-193-28-81.ftth.cust.kwaoo.net:8001/" target="_blank"> www.patrickdeshamps.com</a> @2017&nbsp;&nbsp;</small>
                </div>
            </div>
        </div>
    </div>
</div>