input#message {
    background: #fff;
    width: 100%;
    outline: none;
    box-shadow: none;
    font-size: 1.5em;
    font-weight: 300;
    margin-bottom: 1em;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 1px dotted black;
}

.pat-jumbotron-results {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 10px;
    margin-top: -20px;
}

.blockquote {
    font-size: 0.9rem;
}