[hidden] {
    display: none !important;
}

.my-class {
    background-color: yellow;
}

.btn-xs {
    margin-bottom: 4px;
}

.file-input-wrapper {
    width: 22px;
    height: 22px;
    overflow: hidden;
    position: relative;
}

.file-input-wrapper>input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    height: 22px;
    width: 22px;
    margin-bottom: 0;
}

.file-input-wrapper:hover>#btn-file-input {
    background-color: lightgray;
}

hr {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.list-group-item {
    padding: 3px;
}

.chatitem {
    border-left-width: 5px;
    border-left-color: gainsboro;
    border-left-style: solid;
    margin-right: 3px;
    margin-top: 3px;
    padding-left: 8px;
}

.pat-members {
    padding: 0;
}

.pat-alert {
    margin-bottom: 3px;
    margin-top: 3px;
}

.pat-card {
    text-shadow: 1px 1px 2px black, 0 0 25px whitesmoke, 0 0 5px white;
}

.pat-card-footer {
    padding-right: 0.7rem;
    padding-left: 0.7rem;
}

.pat-card-block {
    padding: 0px 5px 5px 5px;
}