<nav class="navbar navbar-toggleable-md fixed-top navbar-inverse bg-inverse">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
    </button>
    <!-- <button class="btn btn-primary" (click)='getUserInfo()'>get user info</button> -->
    <a class="navbar-brand" [routerLink]="['home']">{{ 'MENU.BRAND' | translate }} </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     {{ 'MENU.EVENTS' | translate }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" [routerLink]="['even']">{{ 'MENU.EVENTSLIST' | translate }}</a>
                    <a class="dropdown-item" [routerLink]="['neweven']">{{ 'MENU.EVENTSCREATION' | translate }}</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['results']">{{ 'MENU.RESULTS' | translate }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['maps']">{{ 'MENU.MAPS' | translate }}</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" [hidden]="!isAuthenticated()">
                <a class="nav-link" [routerLink]="['members']">{{ user.userName }}</a>
            </li>
            <li class="nav-item" [hidden]="!isAuthenticated()">
                <a class="nav-link" (click)="logout()">{{ 'MENU.LOGOUT' | translate }}</a>
            </li>
        </ul>
    </div>
</nav>
<!-- Langage Selector -->
<div class="pat-lang-selector">
    <div class="btn-group-vertical btn-group-sm">
        <button *ngFor="let lang of _translate.getLangs()" [value]="lang" (click)="_translate.use(lang)" class="btn btn-default" [class.btn-primary]="lang === _translate.currentLang">
               {{ lang }}
            </button>
    </div>
</div>
<div class="pat-div">
</div>
<router-outlet></router-outlet>